<div class="background">
  <%=image_tag "bread-background.png"%>
</div>

  <p id="notice"><%= notice %></p>

  <h1>breaddit</h1>

  <table>
    <thead>
      <tr>
        <div id="tableheader">
          <th>Title</th>
          <th>Body</th>
          <th>Author</th>
          <th>Upload</th>
        </div>
      </tr>
    </thead>

    <tbody>
      <% @articles.each do |article| %>
        <tr>
          <div class="rorf">
            <td><%= button_to '+1 Rise', upvote_path(:id)%>
            <td><%= link_to 'Flatten' %>
          </div>
          <td><%= article.title %></td>
          <td><%= article.body %></td>
          <td><%= article.author %></td>
          <td><%= article.upload %></td>
          <td><%= link_to 'Show', article %></td>
          <td><%= link_to 'Change Recipe', edit_article_path(article) %></td>
          <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you really throwing out this bread?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Article', new_article_path %>
