<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @baker.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @baker.email %>
</p>

<%= link_to 'Update Baker Info', edit_baker_path(@baker) %> |
<%= link_to 'Basket', bakers_path %>
